<% set xinyaoData2 = [
{
    'txt' : '',
    'note': '',
    'item': [
        {
            'name': '緊張應變',
            'directions': '緊張應變藥方說明',
            'parts': [
                { 'part_name': '部位1', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827170913961396.jpeg' }
            ]
        }
    ]
}
] %>