<aside class="site_aside" id="Aside">
    <div class="site_aside-inner" :class="{'js-show': highlightMenuItem === 'home' && isMobile}">
        <div class="site_aside-hd">
            <div class="site_aside-hd-top">
                <div class="member_info">
                    <div class="icon">
                        <img src="[[IMG_PATH]]member-icon.png" alt="">
                    </div>
                    <div class="txt">
                        <b class="name">潘XX</b>
                        <div class="phone font-body-s">0912-345-678</div>
                    </div>
                </div>
                <div class="ctrl-btns">
                    <button class="ctrl-btn" @click="handleSearch">
                        <img src="[[IMG_PATH]]icon-search.svg" alt="" v-if="!isOpenSearch">
                        <img src="[[IMG_PATH]]icon-close.svg" alt="" v-if="isOpenSearch">
                    </button>
                    <a class="ctrl-btn" href="./home.html"><img src="[[IMG_PATH]]icon-home.svg" alt=""></a>
                </div>
            </div>
            <div class="hr "></div>
            <div class="member_point">
                <div class="member_point-inner">
                    <div class="font-h3 txt-main-color">1234點</div>
                    <small class="font-note">2024/12/31 到期</small>
                </div>
            </div>
            <div class="site_menu-item" :class="{ 'js-highlight': menuStore.highlightedMenuItem === 'cart' }">
                <a class="inner" href="./cart.html">
                    <span class="txt">挑選中調理帖</span>
                    <span class="line"></span>
                    <span class="cart_num">{{cart_num}}</span>
                </a>
            </div>
        </div>
        <div class="hr"></div>
        <div class="site_aside-bd">
            <div class="site_menu__wrap">
                <nav class="site_menu">
                    <strong class="site_menu-title font-h3 txt-Gray-01">新增</strong>
                    <ul class="site_menu-list">
                        <li class="site_menu-item" :class="{ 'js-highlight': menuStore.highlightedMenuItem === 'xinyao-2' }">
                            <a class="inner font-body-m" href="./xinyao-2.html">緊張應變</a>
                        </li>
                        <li class="site_menu-item" :class="{ 'js-highlight': menuStore.highlightedMenuItem === 'xinyao-3' }">
                            <a class="inner font-body-m" href="./xinyao-3.html">症狀初期</a>
                        </li>
                        <li class="site_menu-item" :class="{'open-sublist': menuStore.highlightedMenuItem === 'xinyao-1'}">
                            <div class="inner font-body-m">心藥目錄</div>
                            <!-- 電腦版顯示 -->
                            <% set webXinyao1Menu = [
                                { label: "恐懼", note: "莫名恐懼 / 抓狂暴衝 / 小膽怕怕 / 過度擔憂 / 驚慌失措" },
                                { label: "茫然", note: "舉棋不定 / 挫折消沉 / 絕望重鬱 / 怠惰沒勁 / 優柔寡斷" },
                                { label: "妄念", note: "重複犯錯 / 妄想未來 / 沉溺過去 / 不時憂鬱 / 失控思緒 / 生活無趣" },
                                { label: "寂寞", note: "漫無目標 / 表現存在 / 性急浮躁 / 孤傲不群" },
                                { label: "敏感", note: "表面快樂 / 唯諾服務 / 怨瞋復仇 / 生活驟變 / 佔有依賴" },
                                { label: "負面", note: "過度細節 / 喪失自信 / 罪己自責 / 驚嚇創傷 / 悲苦折磨 / 怨天尤人" },
                                { label: "重擔", note: "身心耗竭 / 老牛拖車 / 責任硬撐 / 標準苛刻 / 嚴格律己 / 工作狂熱 / 獨裁支配" },
                                { label: "靈性及業力", note: "好運富足 / 光明灌頂 / 靈性加持" }
                            ] %>
                            <ul class="sublist" v-if="!isMobile">
                                <% for item in webXinyao1Menu %>
                                <li class="subitem">
                                    <a href="./xinyao-1.html" class="inner">
                                        <div class="txt">[[item.label]]</div>
                                        <div class="note">[[item.note]]</div>
                                    </a>
                                </li>
                                <% endfor %>
                            </ul>
                            <!-- 手機版顯示 -->
                            <% set mobileXinyao1Menu = [
                                { label: "恐懼", list: ["莫名恐懼", "抓狂暴衝", "小膽怕怕", "過度擔憂", "驚慌失措"] },
                                { label: "茫然", list: ["舉棋不定", "挫折消沉", "絕望重鬱", "怠惰沒勁", "優柔寡斷"] },
                                { label: "妄念", list: ["重複犯錯", "妄想未來", "沉溺過去", "不時憂鬱", "失控思緒", "生活無趣"] },
                                { label: "寂寞", list: ["漫無目標", "表現存在", "性急浮躁", "孤傲不群"] },
                                { label: "敏感", list: ["表面快樂", "唯諾服務", "怨瞋復仇", "生活驟變", "佔有依賴"] },
                                { label: "負面", list: ["過度細節", "喪失自信", "罪己自責", "驚嚇創傷", "悲苦折磨", "怨天尤人"] },
                                { label: "重擔", list: ["身心耗竭", "老牛拖車", "責任硬撐", "標準苛刻", "嚴格律己", "工作狂熱", "獨裁支配"] },
                                { label: "靈性及業力", list: ["好運富足", "光明灌頂", "靈性加持"] }
                            ] %>
                            <ul class="sublist" v-if="isMobile">
                                <% for item in mobileXinyao1Menu %>
                                <li class="subitem">
                                    <div class="inner">
                                        <div class="txt">[[item.label]]</div>
                                        <div class="note">
                                            <% for subitem in item.list %>
                                            <a href="./xinyao-1-mobile.html" class="note-link">[[subitem]]</a>
                                            <% endfor %>
                                        </div>
                                    </div>
                                </li>
                                <% endfor %>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <div class="hr"></div>
                <nav class="site_menu">
                    <strong class="site_menu-title font-h3 txt-Gray-01">管理</strong>
                    <ul class="site_menu-list">
                        <li class="site_menu-item" :class="{ 'js-highlight': menuStore.highlightedMenuItem === 'history' }">
                            <a class="inner" href="./history.html">調理帖紀錄</a>
                        </li>
                        <li class="site_menu-item" :class="{ 'js-highlight': menuStore.highlightedMenuItem === 'favourite' }">
                            <a class="inner" href="./favourite.html">常用調理帖</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="site_aside-ft">
            <a href="./" class="xinyao_btn">
                <div class="icon">
                    <svg data-src="[[IMG_PATH]]icon-logout.svg"></svg>
                </div>
                <div class="txt">登出</div>
            </a>
        </div>
    </div>
</aside>