<script src="[[JS_PATH]]xinyaoJs/core.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/customElements.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/openPopup.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/closePopup.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/handleSelection.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/handleAddToList.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/handleAddToCart.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/setSelectedItems.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/setSelectedItemsTemp.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/getSelectedItems.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/getSelectedItemsTemp.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]frontend/main.js?v=[[VERSION]]"></script>