<script src="[[JS_PATH]]xinyaoJs/core.js?v=[[VERSION]]"></script>

<!-- 自定義元素 -->
<script src="[[JS_PATH]]xinyaoJs/customElements.js?v=[[VERSION]]"></script>
<!-- popup 開啟或關閉 -->
<script src="[[JS_PATH]]xinyaoJs/openPopup.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/closePopup.js?v=[[VERSION]]"></script>
<!-- Notification 開啟或關閉 -->
<script src="[[JS_PATH]]xinyaoJs/openNotification.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/closeNotification.js?v=[[VERSION]]"></script>
<!-- 選擇部位按鈕"無/未知"或"確定部位" -->
<script src="[[JS_PATH]]xinyaoJs/handleSelection.js?v=[[VERSION]]"></script>
<!-- 加入至挑選中 -->
<script src="[[JS_PATH]]xinyaoJs/handleAddToList.js?v=[[VERSION]]"></script>

<!-- 選擇部位的監聽器 -->
<script src="[[JS_PATH]]xinyaoJs/setupPartSelection.js?v=[[VERSION]]"></script>
<!--  -->
<script src="[[JS_PATH]]xinyaoJs/handleAddToCart.js?v=[[VERSION]]"></script>
<# <script src="[[JS_PATH]]xinyaoJs/setSelectedItem.js?v=[[VERSION]]"></script> #>
<# <script src="[[JS_PATH]]xinyaoJs/setselectedItemTemp.js?v=[[VERSION]]"></script> #>
<# <script src="[[JS_PATH]]xinyaoJs/getSelectedItem.js?v=[[VERSION]]"></script> #>
<# <script src="[[JS_PATH]]xinyaoJs/getselectedItemTemp.js?v=[[VERSION]]"></script> #>
<# <script src="[[JS_PATH]]xinyaoJs/removeLastSelectedItemTemp.js?v=[[VERSION]]"></script> #>
<# <script src="[[JS_PATH]]xinyaoJs/clearSelectedItem.js?v=[[VERSION]]"></script> #>
<# <script src="[[JS_PATH]]xinyaoJs/clearSelectedItemTemp.js?v=[[VERSION]]"></script> #>
<!-- 設置當前選擇的項目 -->
<script src="[[JS_PATH]]xinyaoJs/setCurrentItem.js?v=[[VERSION]]"></script>
<!-- 取得當前選擇的項目 -->
<script src="[[JS_PATH]]xinyaoJs/getCurrentItem.js?v=[[VERSION]]"></script>
<!-- 清除當前選擇的項目 -->
<script src="[[JS_PATH]]xinyaoJs/clearCurrentItem.js?v=[[VERSION]]"></script>
<!-- 設置挑選中項目 -->
<script src="[[JS_PATH]]xinyaoJs/setSelectedList.js?v=[[VERSION]]"></script>
<!-- 取得挑選中項目 -->
<script src="[[JS_PATH]]xinyaoJs/getSelectedList.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/updateCartNum.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]frontend/main.js?v=[[VERSION]]"></script>