<script src="[[JS_PATH]]xinyaoJs/core.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]xinyaoJs/customElements.js?v=[[VERSION]]"></script>
<script src="[[JS_PATH]]frontend/main.js?v=[[VERSION]]"></script>