<% from "./_datas/webXinyao1Menu.njk" import webXinyao1Menu %>
<% from "./_datas/mobileXinyao1Menu.njk" import mobileXinyao1Menu %>
<% from "./_datas/xinyao-1.njk" import xinyaoData1 %>
<!doctype html>
<html lang="zh-Hant">
    <head>
        <title>[[page_title]] | 佛印山心藥系統</title>

        <% include "../pages_templates/_head.njk" %>
        <% block page_head %><% endblock %>
    </head>

    <body>
        <div class="xinyao_goTop" id="goTop">
            <a class="xinyao_goTop-inner" href="javascript:;" >
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </div>
        <!-- ========================================================================= -->
        <!-- .body_wrap  START-->
        <div class="body_wrap">
            <!-- .site_aside  START-->
            <% include "_aside.njk" %>
            <!-- /.site_aside  END  !!-->
            
            <% block content %><% endblock %>
        </div>
        <!-- /.body_wrap  END  !!-->
        <!-- =========================================================================-->

        <script
            src="https://unpkg.com/external-svg-loader@latest/svg-loader.min.js"
            async
        ></script>
        <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
        <!-- <script src="[[JS_PATH]]eventBus.js?v=[[VERSION]]"></script>
        <script src="[[JS_PATH]]script.js?v=[[VERSION]]"></script>
        <script type="module" src="[[JS_PATH]]frontend/aside.js?v=[[VERSION]]"></script> -->
        
        <% include "_foot-script.njk" %>
        

        <% block page_script %><% endblock %>
    </body>
</html>
