<div class="search_bar" :class="{'js-open': isOpenSearch}">
    <div class="search_bar-field">
        <div class="search_bar-icon">
            <svg data-src="[[IMG_PATH]]icon-search.svg"></svg>
        </div>
        <input type="text" class="search_bar-input" placeholder="搜尋調理項目">
    </div>
    <div class="search_bar-btn">
        <a class="xinyao_btn" type="button" href="./search.html">搜尋</a>
    </div>
</div>
<div class="hr" v-if="!isMobile"></div>