.favourite__datatable {
    @include rwd-mobile {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2x);
    }
    // overflow: hidden;

    &-heading  {
        @include rwd-mobile {
            display: none;
        }
    }

    &-data {
        @extend .font-body-m;

        @include rwd-mobile {
            &.grid-tablerow {
                position: relative;
                width: 100%;
                border: 1px solid var(--Gray-04);
                border-radius: $border-radius-base;
        
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "p_name action"
                "p_value p_value";
                gap: var(--spacing-1x);

                font-size: var(--font-body-s);
                font-weight: #{map-get(map-get($font, 'body-s'), 'fw' )};
                letter-spacing: #{map-get(map-get($font, 'body-s'), 'ls' )};
                line-height: #{map-get(map-get($font, 'body-s'), 'lh' )};
    
                @for $i from 1 through length($tableName) {
                    $property: nth($tableName, $i);
                    .#{$property} {
                        grid-area: #{$property};
                        @if ($property == 'p_value') {
                                display: flex;
                                gap: var(--spacing-1x);
                                text-align: left;
                                &:before {
                                    content: attr(data-th);
                                    flex: 0 0 65px;
                                    color: var(--main-color);
                                }
                            }
                    }
                }

    
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 48px;
                    width: 100%;
                    height: 1px;
                    background-color: var(--Gray-04);
                }
                .p_name {
                    display: flex;
                    align-items: center;

                    font-size: var(--font-body-m);
                    font-weight: #{map-get(map-get($font, 'body-m'), 'fw' )};
                    letter-spacing: #{map-get(map-get($font, 'body-m'), 'ls' )};
                    line-height: #{map-get(map-get($font, 'body-m'), 'lh' )};
                }

                .p_value {
                    padding-top: 16px;
                    padding-bottom: 8px;

                    font-size: var(--font-body-s);
                    font-weight: #{map-get(map-get($font, 'body-s'), 'fw' )};
                    letter-spacing: #{map-get(map-get($font, 'body-s'), 'ls' )};
                    line-height: #{map-get(map-get($font, 'body-s'), 'lh' )};
                }

                .action {
                    display: flex;
                    justify-content: flex-end;

                    .action_btn {
                        margin: unset;
                    }
                }

            }

        }
    }

    
    &-td {
        &.p_value, &.action {
            text-align: center;
        }

        &.action {
            position: relative;
        }
    }
    .action_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 2px;
        margin: auto;
        padding: 0.5rem;
        background-color: transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(Gray-04);
            path {
                fill: var(--sub-color);
            }
        }

        &:active {
            translate: 1px 1px;
        }
    }

    .action_menu {
        @include absolute(90%, 0);
        z-index: 99;
        background-color: #fff;
        border: 1px solid var(--Gray-04);
        border-radius: $border-radius-base;
        box-shadow: 0 16px 16px #{rgba(color(main-color), 0.3)};

        width: max-content;

        padding: var(--spacing-2x);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-1x);

        &-btn {
            display: flex;
            align-items: center;
            gap: var(--spacing-1x);
            background-color: transparent;
            border: none;

            transition: all 0.3s ease-in-out;

            svg {
                display: block;
            }
            path {
                transition: all 0.3s ease-in-out;
            }

            .txt {
                color: var(--Gray-02);
            }

            &:hover {
                color: var(--sub-color);
                path {
                    fill: var(--sub-color);
                }
            }
        }
    }
}