<% set page_title = "挑選中調理帖" %>
<% extends "_layout.njk" %>

<% block page_head %>
<script>
    const currentMenuItem = 'cart';

</script>
<% endblock %>

<% block content %>
    <!-- =========================================================================-->
    <!-- 頁面內容  START-->
    <!-- =========================================================================-->
    <main class="page_main page-cart" id="cart">
        <% include "../pages_templates/_searchbar.njk" %>

        <div class="page_main-container">
            <h1 class="page_main-title txt-main-color">挑選中調理帖</h1>
            <div class="cart__wrap">
                <div class="cart-bd row-2-parts">
                    <div class="cart-col order_info">
                        <div class="title">訂單資訊</div>
                        <div class="hr"></div>
                        <!-- 自定義輸入框 input-field 組件: dist\assets\js\xinyaoJs\customElements.js -->
                        <input-field class="xinyao_field xinyao_field-v">
                            <label for="p_name" class="xinyao_field-label">調理帖名稱</label>
                            <div class="xinyao_field-block">
                                <div class="xinyao_field-ctrler">
                                    <input
                                        type="text"
                                        id="p_name"
                                        name="p_name"
                                        class="form-control"
                                        placeholder="請輸入調理帖名稱" />
                                </div>
                                <!-- 個別欄位錯誤信息 -->
                                <div class="error-msg"></div>
                            </div>
                        </input-field>
                        <select-field class="xinyao_field xinyao_field-v xinyao_field-select">
                            <label for="p_time" class="xinyao_field-label">調理帖運行時數</label>
                            <div class="xinyao_field-block">
                                <div class="xinyao_field-ctrler" >
                                    <svg data-src="[[IMG_PATH]]arrow-down.svg"></svg>
                                    <select class="form-control" id="p_time">
                                        <% for i in range(1, 11) %>
                                        <option value="[[i]]">[[i]]小時</option>
                                        <% endfor %>
                                    </select>
                                </div>
                                <div class="error-msg"></div> <!-- 顯示錯誤信息 -->
                            </div>
                        </select-field>

                    </div>
                    <div class="cart-col cart_info grid-table">
                        <div class="cart_info-heading grid-tablerow">
                            <div class="cart_info-th grid-cell name">調理項目</div>
                            <div class="cart_info-th grid-cell amount">份量</div>
                            <div class="cart_info-th grid-cell action">操作</div>
                        </div>
                        <div class="grid-tablerow cart_info-no_data"> 尚無調理項目 </div>
                        <% for item in cartListData %>
                        <!-- 共 [[cartListData | length ]] -->
                        <!-- 調理項目 [[loop.index]] -->
                        <div class="grid-tablerow cart_info-item">
                            <% if item.parts.length > 0 %>
                            <div class="cart_info-td grid-cell name" data-th="調理項目">
                                [[item.name]]
                                (
                                    <% for partItem in item.parts %>
                                        <% if loop.index != 1 %>
                                        , [[partItem]]
                                        <% else %>
                                        [[partItem]]
                                        <% endif %>
                                    <% endfor %>
                                )
                            </div>
                            <% else %>
                            <div class="cart_info-td grid-cell name" data-th="調理項目">
                                [[item.name]]
                            </div>
                            <% endif %>
                            <div class="cart_info-td grid-cell amount" data-th="份量">
                                <amount-field class="xinyao_field xinyao_field-v xinyao_field-amount">
                                    <div class="xinyao_field-block">
                                        <div class="xinyao_field-ctrler">
                                            <button type="button" class="ctrl_number decrement-btn"> <i class="fa-solid fa-minus"></i> </button>
                                            <input type="number" class="form-control" value="1">
                                            <button type="button" class="ctrl_number increment-btn"> <i class="fa-solid fa-plus"></i> </button>
                                        </div>
                                    </div>
                                </amount-field>
                            </div>
                            <div class="cart_info-td grid-cell action" data-th="操作">
                                <button type="button" class="action_btn">
                                    <svg data-src="[[IMG_PATH]]icon-delete.svg"></svg>
                                </button>
                            </div>
                        </div>
                        <% endfor %>
                        <div class="grid-tablerow cart_info-item-error">
                            <div class="cart_info-td grid-cell error" style="grid-column: span 3;">
                                一帖調理帖最多5種心藥 (6/5)
                            </div>
                        </div>
                        <div class="grid-tablerow cart_info-tip">
                            <div class="cart_info-td grid-cell tip" style="grid-column: span 3;">
                                <div class="tip-title">小提醒</div>
                                <div class="tip-cnt">
                                    <ul>
                                        <li>一帖調理帖最多5種心藥。</li>
                                        <li>總調理值最多10點。</li>
                                        <li>花費點數依照調理帖運行時數而定，1小時=1點。</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-tablerow cart_info-total">
                            <div class="cart_info-td grid-cell total" style="grid-column: span 3;">
                                <div class="total-row">
                                    <div class="title">調理值</div>
                                    <div class="txt">
                                        <span class="error" v-if="isOverAmountSum">總調理值最多10點</span>
                                        <b>3</b> / 10
                                    </div>
                                </div>
                                <div class="total-row">
                                    <div class="title">花費點數</div>
                                    <div class="txt"><b>1</b></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="cart-ft">
                    <button type="button" class="xinyao_btn xinyao_btn-nobg">加入常用</button>
                    <button type="button" class="xinyao_btn">立即調理</button>
                </div>
            </div>
        </div>

        <!-- 通知元件 (notification) -->
        <!-- dist\assets\js\vue-components.js -->
        <notification :show="showNotification" :msgtitle="notificationTitle" :msgcnt="notificationCnt"></notification>

    </main>

    <!-- /.page_main END  !! -->
    <!-- =========================================================================-->
    <!-- 頁面內容  END  !!-->
    <!-- =========================================================================-->

<% endblock %>

<% block page_script %>
<script type="module" src="[[JS_PATH]]frontend/cart.js?v=[[VERSION]]"></script>
<% endblock %>