<% set page_title = "調理帖紀錄" %>
<% extends "_layout.njk" %>


<% block page_head %>

<!-- ====================== -->
<!-- ===  調理帖紀錄(history)頁面專用script === -->
<script>
    const currentMenuItem = 'history';
</script>
<% endblock %>

<% block content %>

<!-- =========================================================================-->
<!-- 頁面內容  START-->
<!-- =========================================================================-->
<main class="page_main page-history" id="history">
    <% include "../pages_templates/_searchbar.njk" %>

    <div class="page_main-container">
        <h1 class="page_main-title txt-main-color">[[page_title]]</h1>
        <div class="history__datatable grid-table">
            <div class="history__datatable-heading grid-tablerow">
                <div class="history__datatable-td grid-cell status">狀態</div>
                <div class="history__datatable-td grid-cell order_num">單號</div>
                <div class="history__datatable-td grid-cell p_name">名稱</div>
                <div class="history__datatable-td grid-cell p_value">調理值</div>
                <div class="history__datatable-td grid-cell p_time">時效</div>
                <div class="history__datatable-td grid-cell p_point">花費點數</div>
                <div class="history__datatable-td grid-cell billing_date">開單日期</div>
                <div class="history__datatable-td grid-cell run_date">運行日期</div>
                <div class="history__datatable-td grid-cell action">操作</div>
            </div>
            <!-- 總共有: [[historyData | length]] 筆 -->
            <% for item in historyData %>
            <!-- 第 [[loop.index]] 筆調理帖 -->
            <div class="history__datatable-data grid-tablerow">
                <% if item.status == "等待中" %>
                <!-- 狀態"等待中"，加上class "txt-sub-color" -->
                <div class="history__datatable-td grid-cell status txt-sub-color" data-th="狀態">[[item.status]]</div>
                <% elseif item.status == "運行中" %>
                <!-- 狀態"運行中"，加上class "txt-success" -->
                <div class="history__datatable-td grid-cell status txt-success" data-th="狀態">[[item.status]]</div>
                <% elseif item.status == "已取消" %>
                <!-- 狀態"已取消"，加上class "txt-danger" -->
                <div class="history__datatable-td grid-cell status txt-danger" data-th="狀態">[[item.status]]</div>
                <% else %>
                <div class="history__datatable-td grid-cell status" data-th="狀態">[[item.status]]</div>
                <% endif %>
                <div class="history__datatable-td grid-cell order_num" data-th="單號">[[item.order_num]]</div>
                <div class="history__datatable-td grid-cell p_name" data-th="名稱">[[item.p_name]]</div>
                <div class="history__datatable-td grid-cell p_value" data-th="調理值">[[item.p_value]]</div>
                <div class="history__datatable-td grid-cell p_time" data-th="時效">[[item.p_time]]小時</div>
                <div class="history__datatable-td grid-cell p_point" data-th="花費點數">[[item.p_point]]</div>
                <div class="history__datatable-td grid-cell billing_date" data-th="開單日期">[[item.billing_date]]</div>
                <div class="history__datatable-td grid-cell run_date" data-th="運行日期">[[item.run_date]]</div>
                <div class="history__datatable-td grid-cell action" data-th="操作">
                    <button class="action_btn" onclick="toggleMenu(this)">
                        <svg data-src="[[IMG_PATH]]icon-dropdownmenu.svg"></svg>
                    </button>
                    <div class="action_menu">
                        <button class="action_menu-btn" onclick="showDetail(this)">
                            <span class="icon">
                                <svg data-src="[[IMG_PATH]]icon-info.svg"></svg>
                            </span>
                            <span class="txt">調理帖明細</span>
                        </button>
                        <% if item.status == '等待中' or item.status == '運行中' %>
                            <!-- 狀態是"等待中" 或 "運行中"，則顯示"取消運行" ↓↓↓ -->
                            <div class="hr"></div>
                            <button class="action_menu-btn" onclick="openCancelDialog(this)">
                                <span class="icon">
                                    <svg data-src="[[IMG_PATH]]icon-cancel.svg"></svg>
                                </span>
                                <span class="txt">取消運行</span>
                            </button>
                            <!-- 狀態是"等待中" 或 "運行中"，則顯示"取消運行" ↑↑↑ -->
                        <% endif %>
                        <% if item.status == '已完成' or item.status == '已取消' %>
                            <!-- 狀態是"已完成" 或 "已取消"，則顯示"再次運行" ↓↓↓ -->
                            <div class="hr"></div>
                            <button class="action_menu-btn" onclick="replay(this)">
                                <span class="icon">
                                    <svg data-src="[[IMG_PATH]]icon-replay.svg"></svg>
                                </span>
                                <span class="txt">再次運行</span>
                            </button>
                            <!-- 狀態是"已完成" 或 "已取消"，則顯示"再次運行" ↑↑↑ -->
                        <% endif %>
                        <div class="hr"></div>
                        <button class="action_menu-btn" onclick="addFav(this)">
                            <span class="icon">
                                <svg data-src="[[IMG_PATH]]icon-kid_star.svg"></svg>
                            </span>
                            <span class="txt">加入常用</span>
                        </button>
                    </div>
                </div>
                <div class="popup popup_detail js-hidden">
                    <div class="popup-block">
                        <div class="popup-hd ">
                            <b class="popup-title txt-main-color">調理帖明細</b>
                        </div>
                        <div class="popup-bd">
                            <div class="history_detail__datatable grid-table">
                                <div class="history_detail__datatable-heading grid-tablerow">
                                    <div class="history_detail__datatable-th grid-cell name">調理項目</div>
                                    <div class="history_detail__datatable-th grid-cell amount">份量</div>
                                </div>
                                <% for detailItem in item.p_detail %>
                                <div class="grid-tablerow history_detail__datatable-list">
                                    <div class="history_detail__datatable-td grid-cell name" data-th="調理項目">[[detailItem.item_name]]</div>
                                    <div class="history_detail__datatable-td grid-cell amount" data-th="份量">[[detailItem.item_amount]]</div>
                                </div>
                                <% endfor %>
                                <div class="grid-tablerow history_detail__datatable-total">
                                    <div class="history_detail__datatable-td grid-cell name" data-th="調理項目">調理值</div>
                                    <div class="history_detail__datatable-td grid-cell amount" data-th="份量">[[item.p_value]]</div>
                                </div>
                            </div>
                        </div>
                        <div class="popup-ft">
                        </div>
                        <button onclick="xinyaoJs.closePopup(this.closest('.popup'))" type="button" class="popup-close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </div>
            </div>
            <% endfor %>
        </div>
    </div>


    <div class="dialog js-hidden" data-dialog="cancel">
        <div class="dialog-block">
            <div class="dialog-title">取消確認</div>
            <div class="dialog-cnt">您確定要取消運行<button class="link"><span class="dialog__name"></span></button>嗎?</div>
            <div class="dialog-btns">
                <button onclick="handleRunCancel()" type="button" class="xinyao_btn xinyao_btn-nobg">取消運行</button>
                <button onclick="xinyaoJs.closeDialog(this.closest('.dialog'))" type="button" class="xinyao_btn">保留運行</button>
            </div>
        </div>
    </div>

    <div class="notification js-hidden" data-ref="notification-cancel">
        <div class="notification-block">
            <div class="notification-icon">
                <svg data-src="[[IMG_PATH]]icon-check_circle.svg"></svg>
            </div>
            <div class="notification-title">取消成功</div>
            <div class="notification-cnt">
                調理帖<span class="link"><span class="notification__name"></span></span>已成功取消運行。
            </div>
        </div>
    </div>

    <div class="notification js-hidden" data-ref="notification-add_fav">
        <div class="notification-block">
            <div class="notification-icon">
                <svg data-src="[[IMG_PATH]]icon-check_circle.svg"></svg>
            </div>
            <div class="notification-title">加入成功</div>
            <div class="notification-cnt">
                您可以到<a class="link" href="./favourite.html">常用調理帖</a>查看已加入的調理帖。
            </div>
        </div>
    </div>


</main>

<!-- /.page_main END  !! -->
<!-- =========================================================================-->
<!-- 頁面內容  END  !!-->
<!-- =========================================================================-->

<% endblock %>

<% block page_script %>
<script src="[[JS_PATH]]frontend/history.js?v=[[VERSION]]"></script>
<% endblock %>