<% set page_title = "心藥目錄" %>
<% extends "_layout.njk" %>


<% block page_head %>

<!-- ====================== -->
<!-- ===  手機版選單頁面專用script === -->
<script>
    const currentMenuItem = 'home';
</script>
<% endblock %>

<% block content %>
    <!-- =========================================================================-->
    <!-- 頁面內容  START-->
    <!-- =========================================================================-->
    <main class="page_main page-home" id="xinyaoList">
        <% include "../pages_templates/_searchbar.njk" %>
        
    </main>

    <!-- /.page_main END  !! -->
    <!-- =========================================================================-->
    <!-- 頁面內容  END  !!-->
    <!-- =========================================================================-->

<% endblock %>

<% block page_script %>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const asideInnerElm = document.querySelector(".site_aside-inner");
    console.log(asideInnerElm);
    asideInnerElm.classList.add("js-show");
});
</script>
<% endblock %>