<% set page_title = "使用者登入" %>
<!doctype html>
<html lang="zh-Hant">
    <head>
        <title>[[page_title]] | 佛印山心藥系統</title>
        <% include "../pages_templates/_head.njk" %>
    </head>

    <body class="">
        <!-- =========================================================================-->
        <!-- 頁面內容  START-->
        <!-- =========================================================================-->
        <main class="page_main page-login" id="loginApp">
            <div class="brand" style="background-image: url([[IMG_PATH]]login-brand-2x.jpg)"></div>
            <div class="header-mb" style="background-image: url([[IMG_PATH]]login-header.jpg)"></div>
            <div class="login_wrap">
                <h1 class="title svg-text">
                    <span class="txt">心藥系統</span>
                    <svg data-src="[[IMG_PATH]]text-XinYaoXiTong.svg"></svg>
                </h1>
                <div class="login_block">
                    <!-- 表單送出後，導頁至"xinyao-1.html" -->
                    <!-- 相關JS: dist\assets\js\frontend\login.js -->
                    <form class="xinyao_frm login_frm" id="loginForm">
                        <div class="xinyao_frm-bd">
                            <section class="form-group row">
                                <div class="col-12">
                                    <!-- 自定義輸入框 input-field 組件: dist\assets\js\xinyaoJs\customElements.js -->
                                    <input-field class="xinyao_field xinyao_field-v">
                                        <label for="user_id" class="xinyao_field-label">帳號</label>
                                        <div class="xinyao_field-block">
                                            <div class="xinyao_field-ctrler">
                                                <input
                                                    type="text"
                                                    id="user_id"
                                                    name="user_id"
                                                    class="form-control"
                                                    placeholder="請輸入手機號碼" />
                                            </div>
                                            <!-- 個別欄位錯誤信息 -->
                                            <div class="error-msg"></div>
                                        </div>
                                    </input-field>
                                </div>
                            </section>
                            <section class="form-group row">
                                <div class="col-12">
                                    <!-- 自定義輸入框 password-field 組件: dist\assets\js\xinyaoJs\customElements.js -->
                                    <password-field
                                        id="password_field"
                                        class="xinyao_field xinyao_field-v password_field">
                                        <label for="user_pw" class="xinyao_field-label">密碼</label>
                                        <div class="xinyao_field-block">
                                            <div class="xinyao_field-ctrler">
                                                <input
                                                    type="password"
                                                    id="user_pw"
                                                    name="user_pw"
                                                    class="form-control"
                                                    placeholder="請輸入密碼" />
                                                <button type="button" class="toggle_password_btn">
                                                    <i class="fa-solid fa-eye"></i>
                                                    <i class="fa-solid fa-eye-slash" style="display: none"></i>
                                                </button>
                                            </div>
                                            <!-- 個別欄位錯誤信息 -->
                                            <div class="error-msg"></div>
                                        </div>
                                    </password-field>
                                </div>
                            </section>
                            <!-- 登入錯誤訊息 -->
                            <div class="frm-error txt-danger text-center"></div>
                        </div>
                        <div class="xinyao_frm-ft">
                            <!-- 自定義按鈕 submit-btn 組件: dist\assets\js\xinyaoJs\customElements.js -->
                            <submit-btn>
                                <button type="submit" class="xinyao_btn login_submit" data-sendingtxt="登入中...">
                                    登入
                                </button>
                            </submit-btn>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <!-- /.page_main END  !! -->
        <!-- =========================================================================-->
        <!-- 頁面內容  END  !!-->
        <!-- =========================================================================-->

        <script
            type="text/javascript"
            src="https://unpkg.com/external-svg-loader@latest/svg-loader.min.js"
            async></script>
        <!-- script -->
        <!-- <script src="[[JS_PATH]]script.js?v=[[VERSION]]"></script>
        <script type="module" src="[[JS_PATH]]frontend/login.js?v=[[VERSION]]"></script> -->

        <% include "../pages_templates/_foot-script.njk" %>
        <script src="[[JS_PATH]]frontend/login.js?v=[[VERSION]]"></script>
    </body>
</html>
