<% set page_title = "心藥目錄" %>
<% extends "_layout.njk" %>


<% block page_head %>

<% endblock %>

<% block content %>
    <!-- =========================================================================-->
    <!-- 頁面內容  START-->
    <!-- =========================================================================-->
    <main class="page_main page-home" id="xinyaoList">
        <% include "../pages_templates/_searchbar.njk" %>

        <div class="page_main-container">
            <h1 class="page_main-title txt-main-color">心藥目錄：恐懼</h1>
            <div class="xinyao_datatable__wrap">
                <div class="xinyao_datatable">
                    <div class="xinyao_datatable-heading">
                        <div class="xinyao_datatable-th name">調理項目</div>
                        <div class="xinyao_datatable-th info">說明</div>
                        <div class="xinyao_datatable-th action">操作</div>
                    </div>
                    <% for item in xinyaoData1[0].item %>
                    <div class="xinyao_datatable-tr">
                        <div class="xinyao_datatable-td name" data-th="調理項目">[[item.name]]</div>
                        <div class="xinyao_datatable-td info" data-th="說明">
                            <p class="txt">[[item.directions | safe ]]</p>
                        </div>
                        <div class="xinyao_datatable-td action" data-th="操作">
                            <div class="action-amount">
                                <amount-field id="id" class="xinyao_field xinyao_field-v xinyao_field-amount">
                                    <div class="xinyao_field-block">
                                        <div class="xinyao_field-ctrler">
                                            <button type="button" class="ctrl_number decrement-btn"> <i class="fa-solid fa-minus"></i> </button>
                                            <input type="number" class="form-control" value="1">
                                            <button type="button" class="ctrl_number increment-btn"> <i class="fa-solid fa-plus"></i> </button>
                                        </div>
                                    </div>
                                </amount-field>

                                <button type="button" class="action_btn action-addToList">加入</button>
                            </div>
                        </div>
                    </div>
                    <% endfor%>
                </div>
            </div>
            <div class="xinyao_datatable-ft show-mobile">
                <a href="./home.html" class="xinyao_btn xinyao_btn-nobg">回目錄</a>
                <a href="./cart.html" class="xinyao_btn">查看已挑選</a>
            </div>
        </div>

    </main>

    <!-- /.page_main END  !! -->
    <!-- =========================================================================-->
    <!-- 頁面內容  END  !!-->
    <!-- =========================================================================-->

<% endblock %>

<% block page_script %>
<!-- <script type="module" src="[[JS_PATH]]frontend/xinyao.js?v=[[VERSION]]"></script> -->
<% endblock %>