<% set page_title = "心藥目錄" %>
<% extends "_layout.njk" %>


<% block page_head %>

<% endblock %>

<% block content %>
    <!-- =========================================================================-->
    <!-- 頁面內容  START-->
    <!-- =========================================================================-->
    <main class="page_main page-home" id="xinyaoList">
        <% include "../pages_templates/_searchbar.njk" %>

        <div class="page_main-container">
            <h1 class="page_main-title txt-main-color">心藥目錄：恐懼</h1>
            <div class="xinyao_datatable__wrap">
                <div class="xinyao_datatable">
                    <div class="xinyao_datatable-heading">
                        <div class="xinyao_datatable-th name">調理項目</div>
                        <div class="xinyao_datatable-th info">說明</div>
                        <div class="xinyao_datatable-th action">操作</div>
                    </div>
                    <% for item in xinyaoData1[0].item %>
                    <!-- 調理項目 [[loop.index]] -->
                    <!-- .xinyao_datatable-tr -->
                    <div class="xinyao_datatable-tr" id="xinyaoItem-[[loop.index]]">
                        <div class="xinyao_datatable-td name" data-th="調理項目">[[item.name]]</div>
                        <div class="xinyao_datatable-td info" data-th="說明">
                            <p class="txt">[[item.directions | safe ]]</p>
                        </div>
                        <div class="xinyao_datatable-td action" data-th="操作">
                            <div class="action-amount">
                                <amount-field class="xinyao_field xinyao_field-v xinyao_field-amount">
                                    <div class="xinyao_field-block">
                                        <div class="xinyao_field-ctrler">
                                            <button type="button" class="ctrl_number decrement-btn"> <i class="fa-solid fa-minus"></i> </button>
                                            <input type="number" class="form-control" value="1">
                                            <button type="button" class="ctrl_number increment-btn"> <i class="fa-solid fa-plus"></i> </button>
                                        </div>
                                    </div>
                                </amount-field>
                                <button type="button" class="action_btn action-addToList">加入</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.xinyao_datatable-tr END -->
                    <!-- 選擇部位popup .popup -->
                    <!-- 預設class="js-hidden"關閉popup -->
                    <div class="popup popup_select js-hidden" id="popup-[[loop.index]]">
                        <div class="popup-block">
                            <div class="popup-hd ">
                                <b class="popup-title txt-main-color">請選擇您不適的部位</b>
                                <small class="font-note txt-sub-color">可複選</small>
                            </div>
                            <div class="popup-bd">
                                <div class="select_parts">
                                    <ul class="select_parts-list">
                                        <% for p_item in item.parts %>
                                        <!-- 選擇部位項目 [[loop.index]] -->
                                        <!-- .select_parts-item -->
                                        <li class="select_parts-item">
                                            <label for="'part-' + index" class="item_label">
                                                <input type="checkbox" class="item_input--checkbox" :id="'part-' + index" :value="part.part_name" v-model="selectedParts">
                                                <div class="select_parts-item-inner">
                                                    <span class="label">{{part.part_name}}</span>
                                                    <span class="img">
                                                        <img :src="part.part_img" :alt="part.part_name">
                                                    </span>
                                                </div>
                                            </label>
                                        </li>
                                        <!-- /.select_parts-item END -->
                                        <% endfor %>
                                    </ul>
                                </div>
                            </div>
                            <div class="popup-ft">
                                <!-- 點擊後執行`handleSelection(isUnknown)`方法 -->
                                <button @click="handleSelection(true)" type="button" class="xinyao_btn xinyao_btn-nobg">無/未知</button>
                                <button @click="handleSelection(false)" type="button" class="xinyao_btn" :disabled="!hasSelected">確認</button>
                            </div>
                            <!-- 點擊後，關閉popup -->
                            <button @click="showPopupSelect = false" type="button" class="popup-close">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.popup END -->
                    <!-- 調理項目 [[loop.index]] END -->
                    <% endfor%>
                </div>
            </div>
            <div class="xinyao_datatable-ft show-mobile">
                <a href="./home.html" class="xinyao_btn xinyao_btn-nobg">回目錄</a>
                <a href="./cart.html" class="xinyao_btn">查看已挑選</a>
            </div>
        </div>

    </main>

    <!-- /.page_main END  !! -->
    <!-- =========================================================================-->
    <!-- 頁面內容  END  !!-->
    <!-- =========================================================================-->

<% endblock %>

<% block page_script %>
<script type="module" src="[[JS_PATH]]frontend/xinyao.js?v=[[VERSION]]"></script>
<% endblock %>