<% set page_title = "心藥目錄" %>
<% extends "_layout.njk" %>


<% block page_head %>

<!-- ====================== -->
<!-- ===  手機版選單頁面專用script === -->
<script>
    const currentMenuItem = 'home';
    // 這邊示意:
    // 撈出的資料，以JSON儲存在 currentSubCateData 
    const currentSubCateData = [
        {
            'txt' : '恐懼',
            'note': '莫名恐懼/抓狂暴衝/小膽怕怕/過度擔憂/驚慌失措',
            'item': [
                {
                    'name': '莫名恐懼',
                    'directions': '釋放遭受恐懼與擔憂困擾卻找不到原因的情緒。<br>莫名、無以名狀的恐懼，沒有原因的、沒有解釋的。<br>怕什麼不幸的事情將會降臨，但說不出是什麼、為什麼。<br>神經質，容易緊張焦慮。<br>對未來常有不祥的預感。<br>當被問及為何害怕，卻說不出理由。<br>感到不明原因且無法以言語解釋的不安或恐懼。',
                    'parts': [
                        { 'part_name': '頭面部', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827170913961396.jpeg' },
                        { 'part_name': '右頸胸肩', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827171071177117.jpeg' },
                        { 'part_name': '左腿內側', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827171340944094.jpeg' },
                        { 'part_name': '背部軀幹', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827171265736573.jpeg' }
                    ]
                },
                {
                    'name': '抓狂暴衝',
                    'directions': '釋放害怕失控而傷害自己或他人的情緒。 <br>害怕自己精神錯亂、頭腦抓狂。當心裡受到太大的壓力或傷害時，快要控制不住自己的情緒，幾至崩潰抓狂時。每個人都有情緒失控、失去理性的時候，想報復、想傷害他人或自己、不斷哭泣、暴怒，或任何強烈情緒，都適用。對理性無法運作，變得無法控制自己而感到不安。',
                    'parts': [
                        { 'part_name': '背部軀幹', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827173147854785.jpeg' },
                        { 'part_name': '腿部正面', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827173368266826.jpeg' },
                        { 'part_name': '男性 陰部', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827173496559655.jpeg' },
                        { 'part_name': '女性陰部', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/2017082717370232232.jpeg' },
                    ]
                },
                {
                    'name': '小膽怕怕',
                    'directions': '釋放擔心任何已知的、預設的恐懼情緒。 <br>這類型的人通常害羞而膽小安靜，有禮貌卻不善交際，常避免跟陌生人講話，清楚讓自己產生恐懼及不安的對象，對於任何已知原因的恐懼，舉凡怕高、怕昆蟲、怕死、怕黑、怯場等，都適用小膽怕怕心藥。可幫助這類型的人更有膽量，有勇氣表達自己。',
                    'parts': [
                        { 'part_name': '右頸胸肩', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827190985268526.jpeg' },
                        { 'part_name': '背部軀幹', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/2017082719110687687.jpeg' },
                        { 'part_name': '胸腹軀幹', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827191211301130.jpeg' },
                        { 'part_name': '左臂前方', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827191456405640.jpeg' },
                        { 'part_name': '右腳掌', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827191655635563.jpeg' },
                        { 'part_name': '男性 陰部', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827191780038003.jpeg' },
                    ]
                },
                {
                    'name': '過度擔憂',
                    'directions': '釋放過度擔心親人安危福祉而內心不安的情緒。<br>為別人的福祉擔憂，像媽媽一樣，過度為他人擔憂，可能每隔幾分鐘就查看一次小孩，或是親人稍微晚歸就憂心忡忡。不斷對他人噓寒問暖。如果關心的人失聯一會兒，就設想各種意外狀況，擔心得發狂。',
                    'parts': [
                        { 'part_name': '左頸胸肩', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827192299259925.jpeg' },
                        { 'part_name': '背部軀幹', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827192341154115.jpeg' },
                        { 'part_name': '右手掌背', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827192443384338.jpeg' },
                    ]
                },
                {
                    'name': '驚慌失措',
                    'directions': '釋放被意外事件驚嚇而驚惶的情緒。 <br>驚慌失措心藥對應最強烈的恐懼，例如半夜被惡夢驚醒，或經歷意外事件而驚駭恐慌。可能怕得全身顫抖冷汗直流，呆住了，大腦整個停止運作，眩暈。驚慌失措心藥能讓身心平靜，消除緊張，掌控狀況。感到極度恐懼，陷入恐慌的狀態之中。',
                    'parts': [
                        { 'part_name': '胸腹軀幹', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827192524372437.jpeg' },
                        { 'part_name': '臀部', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827192763366336.jpeg' },
                        { 'part_name': '大腿', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827192958695869.jpeg' },
                        { 'part_name': '大腿', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/2017082719300735735.jpeg' },
                        { 'part_name': '小腿', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827193119051905.jpeg' },
                    ]
                },
            ]
        }
    ];
</script>
<% endblock %>

<% block content %>
    <!-- =========================================================================-->
    <!-- 頁面內容  START-->
    <!-- =========================================================================-->
    <main class="page_main page-home" id="xinyaoList">
        <% include "../pages_templates/_searchbar.njk" %>
    </main>

    <!-- /.page_main END  !! -->
    <!-- =========================================================================-->
    <!-- 頁面內容  END  !!-->
    <!-- =========================================================================-->

<% endblock %>

<% block page_script %>
<script type="module" src="[[JS_PATH]]frontend/xinyao.js?v=[[VERSION]]"></script>
<% endblock %>