<% set page_title = "搜尋結果" %>
<% extends "_layout.njk" %>


<% block page_head %>

<!-- ====================== -->
<!-- ===  搜尋結果(search)頁面專用script === -->
<script>
    const currentMenuItem = 'search';
    // 這邊示意:
    // 撈出的資料，以JSON儲存在 searchResult 
    const searchResult = [
        {
            'txt' : '恐懼',
            'note': '莫名恐懼/抓狂暴衝/小膽怕怕/過度擔憂/驚慌失措',
            'item': [
                {
                    'name': '莫名恐懼',
                    'directions': '釋放遭受恐懼與擔憂困擾卻找不到原因的情緒。<br>莫名、無以名狀的恐懼，沒有原因的、沒有解釋的。<br>怕什麼不幸的事情將會降臨，但說不出是什麼、為什麼。<br>神經質，容易緊張焦慮。<br>對未來常有不祥的預感。<br>當被問及為何害怕，卻說不出理由。<br>感到不明原因且無法以言語解釋的不安或恐懼。',
                    'parts': [
                        { 'part_name': '頭面部', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827170913961396.jpeg' },
                        { 'part_name': '右頸胸肩', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827171071177117.jpeg' },
                        { 'part_name': '左腿內側', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827171340944094.jpeg' },
                        { 'part_name': '背部軀幹', 'part_img': 'http://maha-sati.org/admin/attached/media/20170827/20170827171265736573.jpeg' }
                    ]
                }
            ]
        }
    ];
</script>
<% endblock %>

<% block content %>
    <!-- =========================================================================-->
    <!-- 頁面內容  START-->
    <!-- =========================================================================-->
    <main class="page_main page-home" id="xinyaoList">
        <% include "../pages_templates/_searchbar.njk" %>

        <div class="page_main-container" v-if="!isMobile">
            <h1 class="page_main-title txt-main-color">心藥目錄：恐懼</h1>
            <div class="xinyao_datatable__wrap">
                <div class="xinyao_datatable">
                    <div class="xinyao_datatable-heading">
                        <div class="xinyao_datatable-th name">調理項目</div>
                        <div class="xinyao_datatable-th info">說明</div>
                        <div class="xinyao_datatable-th action">操作</div>
                    </div>
                    <div class="xinyao_datatable-tr" v-for="(item, index) in data" :key="index">
                        <div class="xinyao_datatable-td name" data-th="調理項目">{{item.name}}</div>
                        <div class="xinyao_datatable-td info" data-th="說明">
                            <p class="txt" v-html="item.directions"></p>
                        </div>
                        <div class="xinyao_datatable-td action" data-th="操作">
                            <div class="action-amount">
                                <amount-field v-model="item.amount"></amount-field>
                                <button type="button" class="action_btn" @click="addToList(item)">加入</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xinyao_datatable-ft"  v-if="isMobile">
                <a href="./" class="xinyao_btn xinyao_btn-nobg">回目錄</a>
                <a href="./cart.html" class="xinyao_btn">查看已挑選</a>
            </div>
            <!-- <div class="xinyao_datatable-pagination" v-if="isMobile">
                <button class="xinyao_datatable-pagination-btn" @click="prevDatatable">上一個</button>
                <span class="xinyao_datatable-pagination-number"><span class="current">{{currentDatatable}}</span> / {{totalDatatable}}</span>
                <button class="xinyao_datatable-pagination-btn" @click="nextDatatable">下一個</button>
            </div> -->
        </div>
        <div v-if="showPopupSelect" class="popup popup_select">
            <div class="popup-block">
                <div class="popup-hd ">
                    <b class="popup-title txt-main-color">請選擇您不適的部位</b>
                    <small class="font-note txt-sub-color">可複選</small>
                </div>
                <div class="popup-bd">
                    <div class="select_parts">
                        <ul class="select_parts-list">
                            <li class="select_parts-item" v-for="(part, index) in selectParts">
                                <label :for="'part-' + index" class="item_label">
                                    <input type="checkbox" class="item_input--checkbox" :id="'part-' + index" :value="part.part_name" v-model="selectedParts">
                                    <div class="select_parts-item-inner">
                                        <span class="label">{{part.part_name}}</span>
                                        <span class="img">
                                            <img :src="part.part_img" :alt="part.part_name">
                                        </span>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="popup-ft">
                    <button @click="handleSelection(true)" type="button" class="xinyao_btn xinyao_btn-nobg">無/未知</button>
                    <button @click="handleSelection(false)" type="button" class="xinyao_btn" :disabled="!hasSelected">確認</button>
                </div>
                <button @click="showPopupSelect = false" type="button" class="popup-close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
        <notification :show="showNotification" :msgtitle="notificationTitle" :msgcnt="notificationCnt"></notification>
    </main>

    <!-- /.page_main END  !! -->
    <!-- =========================================================================-->
    <!-- 頁面內容  END  !!-->
    <!-- =========================================================================-->

<% endblock %>

<% block page_script %>
<script type="module" src="[[JS_PATH]]frontend/search.js?v=[[VERSION]]"></script>
<% endblock %>