@mixin circle($width, $height:$width) {
	@if (unitless($width)) {
		$width: $width * 1px;
	}
	@if (unitless($height)) {
		$height: $height * 1px;
	}
	width: $width;
	height: $height;
	border-radius: 50%;
}